.single-post-home{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    width:100%;
    box-shadow: 1px 1px rgba(160, 160, 160, 0.453);
    // border: 1px solid rgba(160, 160, 160, 0.453);;
}